#HomePage{
    font-family: sans-serif;
}
#anniversaryDiv{
    height: 50px;
    width: 1500px;
    background-color: #F1F5FE;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#anniversaryDiv h4{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
}
#anniversaryDiv p{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: #0066FF;
    margin-left: 10px;
}

#FirstDiv{
    border: 1px solid red;
    display: flex;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 670px;
    margin: 10px auto;
}
#imgSLider1{
    height: 670px;
    width: 740px;
    /* border:1px solid black; */
    border-radius: 5px;
}
#DealOfDayDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    height: 670px;
}
#DealOfDay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 313px;
    width: 698px;
    /* border: 1px solid black; */
    border-radius: 5px;
}
#textDealOfDay{
    display: flex;
    /* border: 1px solid blue; */
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
}
#textDealOfDay h2{
    font-size: 24px;
    font-weight: 700;
    color: #2E2F32;
    margin: 0px 10px 0px 0px;
}
#textDealOfDay p{
    font-size: 14px;
    color: red;
}
#dealOfDayProducts{
    border: 1px solid red;
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dealOfDayProductsSingleDiv{
    /* border: 1px solid brown; */
    height: 230px;
    width: 150px;
    display: flex;
    flex-direction: column;
}
.dealOfDayProductsSingleImgDiv{
    /* border: 1px solid black; */
    height: 150px;
    width: 150px;
}
.dealOfDayProductsSingleDetailsDiv{
    height: 60px;
    /* border: 1px dotted green; */
}
.dealOfDayProductsSingleOffDiv{
    height: 16px;
    width: 64px;
    border-radius: 8px;
    background-color: #F1403C;
    color: white;
    font-size: 11px;
    text-align: center;
    margin: 2px;
}
.dealOfDayProductsSingleDetailsDiv h3{
    font-size: 18px;
    font-weight: 700;
    height: 18px;
}
.dealOfDayProductsSingleDetailsDiv p{
    font-size: 14px;
    text-decoration: line-through;
    color: #999999;
}
.dealOfDayProductsSingleBottomDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dealOfDayProductsSingleBottomDiv p{
    font-size: 12px;
    color: #999999;
}
.dealOfDayProductsSingleStatDiv{
    border: 1px solid #E9EBFC;
    height: 6px;
    width: 110px;
    background-color: #E9EBFC;
    margin: 4px 0px;
    border-radius: 5px;
}
.dealOfDayProductsSingleProgressDiv{
    height: 6px;
    background-color: #0066FF;
    border-radius: 5px;
    width: 40%;
}
#FeaturedProductsDiv{
    width: 698px;
    height: 311px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#textFeaturedproducts{
    padding: 12px 0px;
    /* border: 1px solid blue; */
}
#textFeaturedproducts h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2E2F32;
    margin: 0px 10px 0px 0px;
}
#FeaturedProducts{
    /* border: 1px solid black; */
    height: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.FeaturedProductsSingle{
    /* border: 1px solid green; */
    height: 230px;
    width: 140px;
}
.FeaturedProductsSingleImg{
    /* border: 1px dotted blue; */
    height: 140px;
    width: 140px;
}
.FeaturedProductsSingleContent{
    width: 140px;
}
.FeaturedProductsSingleContent h3{
    height: 40px;
    font-size: 14px;
    /* border: 1px solid red; */
}
.FeaturedProductsSingleContent h4 {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    /* border: 1px solid red; */
}
.FeaturedProductsSingleContent p {
    font-size: 14px;
    height: 20px;
    color: #999999;
    text-decoration: line-through;
    /* border: 1px solid red; */
}
#TrendingCategoryDiv{
    margin: 40px auto;
    height: 436px;
    width: 1500px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#TrendingCategory{
    height: 382px;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}
#textTrendingCategory h2{
    font-size: 28px;
    font-weight: 700;
    padding-left: 24px;
    color: #333333;
    margin: 0px 10px 0px 0px;
    padding: 10px 0px;
}
.TrendingCategory{
    height: 380px;
    width: 488px;
    /* border: 1px solid green; */
}
.TrendingCategoryImg{

}
.TrendingCategoryText{
    /* border: 1px solid black; */
    height: 105px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.TrendingCategoryText h3{
    font-size: 16px;
    font-weight: 600;
    color: #3b3b3b;
}
.TrendingCategoryText p{
    font-size: 14px;
    font-weight: 400;
    color: #565656;
}
#NewForYouDiv{
    /* border: 1px solid black; */
    height: 446px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: space-between;
    background-color: #F0F6FE;
    border-radius: 4px;
}
#textNewForYou{
    /* border: 1px solid blue; */
    padding-left: 25px;
    display: flex;
    align-items: center;
}
#textNewForYou h2{
    font-size: 28px;
    font-weight: 700;
    color: #333333;
    margin: 0px 10px 0px 0px;
    padding: 10px 0px;
}
#textNewForYou p{
    font-size: 14px;
    color: #0066FF;
}
#NewForYou{
    /* border: 1px solid black; */
    height: 350px;
    width: 1452px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#NewForYouSlider{
    /* border: 5px dotted red; */
    overflow: hidden;
    width: 1160px;
    height: 100%;
    justify-content: space-between;
}
.NewForYouImg{
    height: 348px;
    width: 276px;
}
.NewForYou {
    box-sizing: content-box;
    /* border: 4px solid green; */
    height: 324px;
    width: 244px;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 8px 16px;
    border-radius: 4px;
    background-color: white;
}
.NewForYouImg{
    /* border: 1px solid black; */
    height: 244px;
    width: 244px;
}
.NewForYouImg img{
    height: 100%;
    width: 100%;
}
.NewForYouContent{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.NewForYouContent h3{
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    margin: 6px 0px 4px;
}
.NewForYouContent p{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}
#EnjoyLifeDiv{
    height: 686px;
    width: 1500px;
    border: 1px solid black;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#EnjoyLifeDiv h2 {
    font-size: 28px;
    font-weight: 700;
    color: #333333;
    margin: 0px 10px 0px 0px;
    padding: 10px 0px;
}
#EnjoyLife{
    height: 632px;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#EnjoyLifeBanner{
    border: 1px solid green;
    height: 632px;
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
}
#EnjoyLifeBanner img{
    height: 100%;
    width: 100%;
}
#EnjoyLifeProductDiv{
    border: 1px solid black;
    height: 632px;
    width: 980px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.EnjoyLifeProduct{
    border: 1px solid black;
    height: 308px;
    width: 440px;
    background-color: #F0F5FD;
    display: flex;
    flex-direction: column;
}
.EnjoyLifeProduct h3{
    font-size: 16px;
    font-weight: 700;
    border: 1px solid black;
    padding: 12px;
}
.EnjoyLifeProductSingleDiv{
    border: 1px solid black;
    height: 254px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.EnjoyLifeProductSingle{
    border: 1px dotted blue;
    height: 254px;
    width: 210px;
}
.EnjoyLifeProductSingleImg{
    border: 1px solid black;
    height: 210px;
    width: 210px;
    border-radius: 5px;
    overflow: hidden;
}
.EnjoyLifeProductSingleTitle{
    border: 1px solid red;
    width: 210px;
    font-size: 14px;
    color: #0066FF;
    padding: 10px 0px;
}
#BestSellerDiv{
    /* border: 1px solid black; */
    height: 486px;
    width: 1500px;
    margin: 40px auto;
}
#BestSellerText{
    /* border: 1px solid blue; */
    width: 1500px;
    display: flex;
    align-items: flex-end;
    padding: 10px 0px;
}
#BestSellerText h2 {
    font-size: 28px;
    font-weight: 700;
    color: #333333;
    margin: 0px 10px 0px 0px;
    padding: 0px;
}
#BestSellerText p {
    font-size: 14px;
    color: #0066FF;
}
#BestSeller{
    /* border: 1px solid red; */
    height: 445px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BestSellerProduct{
    /* border: 1px solid black; */
    height: 405px;
    width: 244px;
}
.BestSellerProductImg{
    height: 240px;
    width: 240px;
    /* border: 1px solid black; */
}
.BestSellerProductContent{
    /* border: 1px dashed gray; */
}
.BestSellerProductOff{
    height: 16px;
    width: 64px;
    margin: 5px 0px;
    border-radius: 8px;
    background-color: #F1403C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}
.BestSellerProductContent h3{
    /* border: 1px solid black; */
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0px;
    overflow: hidden;
}
.BestSellerProductRating{
    /* border: 1px solid black; */
    height: 18px;
    display: flex;
    margin: 8px 0px;
    justify-content: flex-start;
    align-items: center;
}

.BestSellerProductRatingStar{
    display: flex;
    color: gold;
}
.BestSellerProductContent h2{
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0px;
}
.BestSellerProductContent p {
    font-size: 14px;
    color: #999999;
    text-decoration: line-through;
}
.BestSellerProductRating p {
    text-decoration: none;
    color: #999999;
    margin: 0px 5px;
}
#PopularBrandsDiv{
    border: 1px solid brown;
    margin: 40px auto;
    width: 1500px;
    display: flex;
    flex-direction: column;
}
#PopularBrandsDiv h2 {
    font-size: 28px;
    font-weight: 700;
    color: #333333;
    margin: 0px 10px 0px 0px;
    padding: 10px 0px;
}
#bannerPopularBrands{
    height: 260px;
    width: 1500px;
    margin: auto;
    border: 1px dashed green;
}
.PopularBrandsSingleDiv{
    border: 1px solid black;
    height: 300px;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.brandBanner{
    border: 1px dashed green;
    height: 300px;
    width: 460px;
}
.brandBanner img{
    height: 100%;
    width: 100%;
}
#brandProductsDiv{
    border: 1px solid red;
    height: 300px;
    width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brandproducts{
    box-sizing: content-box;
    border: 1px solid black;
    height: 288px;
    width: 210px;
    padding: 0px 25px;
}
.brandproductsImg{
    height: 180px;
    width: 210px;
    border: 1px solid black;
}
.brandproductsImg img{
    height: 100%;
    width: 100%;
}
.brandproductsContentOff{
    /* border: 1px solid black; */
    height: 16px;
    width: 64px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    background-color: #F1403C;
    margin: 5px;
}
.brandproductsContent h3{
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    width: 210px;
    border: 1px solid black;
}
.brandproductsContent h4{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    height: 22px;
}
.brandproductsContent p{
    font-size: 14px;
    color: #999999;
    height: 16px;
    text-decoration: line-through;
}
#RecommendedForYouDiv{
    /* border: 1px solid black; */
    height: 264px;
    width: 1500px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#textRecommendedForYou{
    /* border: 1px solid blue; */
    height: 38px;
}
#textRecommendedForYou h2 {
    font-size: 28px;
    font-weight: 700;
    color: #333333;
    margin: 0px 10px 0px 0px;
    padding: 0px;
}
#RecommendedForYou{
    /* border: 1px solid black; */
    height: 210px;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.RecommendedProduct{
    box-sizing: border-box;
    /* border: 1px dashed green; */
    height: 165px;
    width: 165px;
}
.RecommendedProduct img{
    height: 165px;
    width: 165px;
}